<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lost and found campus</title>
</head>
<body>
    <h1>Lost & Found Campus</h1>
    <p>Find lost items.Report found items.</p>

    <button>Report Item</button>
    <button>report Found Item</button>

    <h2>Welcome to Lost & Found Campus</h2>

    <p>
         this platform helps students and staf report,
         serach and recover lost items on campus.
    </p>
    
</body>
</html>